a:link {
    color: gray;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
    color: red;
	text-decoration: underline;
	
}

/* selected link */
a:active {
    color: red;
} 


body {
  display: grid;
  grid-gap: 1em;
}

header {
  grid-column: 1 / span 5;
  background-color: #000;
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
  font-family: Helvetica Neue, Calibri, Arial, Open Sans, sans-serif;
    text-align: center;   
}
footer {
  grid-column: 1 / span 5;
  background-color: #000;
  color: #fff;
  font-weight: 300;
  font-size: 0.75em;
  font-family: Helvetica Neue, Calibri, Arial, Open Sans, sans-serif;
    text-align: center;   
}

main {
  grid-column: 1 / span 3;
  background: #FFFFFF;
}

  
  main,
  article {
    grid-column: 1 / 1;
      color: #000;
  font-weight: 300;
  font-size: 1em;
  font-family: Helvetica Neue, Calibri, Arial, Open Sans, sans-serif;
  padding: 14px 25px;
  text-align: center; 
    
  }
  
header,
main,
article,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  height: 10vw;;
}